* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background: #F8F8FF;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 30px;
	color: white;
	font-weight: bold;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
	min-width: 20%;
	min-height: 10%;
	max-width: 200;
	max-height:65px;
}


.btn:hover{
	background: #8b0000 ;
	
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.myimg{
max-width:100%;
min-width: 300px;
height: auto;

}

.borderaround{
	border-style: double;
	
}
.textteam{
	font-size: 29px;
	font-weight: bold;
	
}

.imgDY{
width:50%;
height:20%;
position: relative;
top: -35px; 
}

         .box {
            position: relative;
            width: 100%;
            max-width: 100%;
         }

         .box .btn {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
			background-color:red;